name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DOWNLOAD_TOOL: curl -fLOSs --retry 2 --retry-delay 60

jobs:
  macos:
    strategy:
      matrix:
        include:
          - build-type: RelWithDebInfo
            compiler-name: Clang LLVM
            os-name: macOS
            os-arch: x86_64
            os: macos-11.0
            cmake-gen: Ninja
    name: |
      ${{ matrix.os-name }}
      <${{ matrix.compiler-name }},
       ${{ matrix.build-type }},
       ${{ matrix.cmake-gen }}>
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Acquire Dependencies
        shell: bash
        working-directory: ${{ runner.workspace }}
        env:
          CFLAGS: "-mmacosx-version-min=10.13"
          CXXFLAGS: "-mmacosx-version-min=10.13"
          LDFLAGS: "-mmacosx-version-min=10.13"
          MACOSX_DEPLOYMENT_TARGET: 10.13
          PACKAGES: qt5 ffmpeg-olive openimageio-olive opencolorio opentimelineio portaudio
        run: |
          # HACK: Workaround for https://github.com/actions/virtual-environments/issues/4020
          rm -rf /usr/local/bin/2to3

          brew update
          brew upgrade
          brew tap olive-editor/homebrew
          brew install -f --build-from-source $(brew deps $PACKAGES) $PACKAGES
          #echo "/usr/local/opt/qt@5/bin" >> $GITHUB_PATH

      #- name: Deploy Packages
      #  working-directory: ${{ runner.workspace }}/build
      #  shell: bash
      #  run: |
      #    zip -r $PKGNAME.zip Olive.app

      #- name: Upload Artifact to GitHub
      #  uses: actions/upload-artifact@v2
      #  continue-on-error: true
      #  with:
      #    name: ${{ env.PKGNAME }}.zip
      #    path: ${{ runner.workspace }}/build/${{ env.PKGNAME }}.zip
